.friends__page {
  .search {
    display: none;
    padding: 20px;

    input {
      color: var(--white);
      background: none;
      border: none;
      border-bottom: 2px solid var(--light-grey);
      outline: none;
      width: 100%;
      font-size: 30px;
    }
  }

  .search-active {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 1s ease;
    background: rgba(0, 0, 0, 0.6);
  }
}
